.header-color
{
    color: #31A5AC;
}
.container-color
{
    background-color: #F8F8F8;
}
.row-gap
{
    row-gap: 50px;
}
.input-style
{
    background-color: #DCDCDC;
    border: none;
    border-radius: 3px;
    height: 35px;
} 
.form-center {
  display:flex;
  justify-content: center;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}